{% extends 'common/layout-admin.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <h1 class="text-center">Witaj!</h1>
                <form method="post" action="{{ formAction }}">
                    <div class="form-group">
                        <label for="user">Login:</label>
                        <input id="user" type="text" name="login" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="pass">Hasło:</label>
                        <input id="pass" type="password" name="pass" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Zaloguj</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}