<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Koło naukowe procesu zarządzania</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/main.css"/>

    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600italic,300' rel='stylesheet' type='text/css'>
    {% block styles %}{% endblock %}
</head>
<body>

{% block body %}{% endblock %}
{% block footer %}{% endblock %}

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>

{% block scripts %}{% endblock %}

<script src="/assets/js/portal.js"></script>

{% block portal_scripts_init %}{% endblock %}

<script src="/assets/js/main.js"></script>

</body>
</html>