<div id="removeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Potwierdź usunięcie</h4>
            </div>
            <div class="modal-body">
                Na pewno chcesz usunąć tę podstronę? (operacji nie da się cofnąć)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-danger page-remove-trigger">Tak, usuń</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->